<div class="wrapper">
  <div class="content-page">
    <header class="header" ng-include="'layout/customer/header.html'"></header>
    <section>
      <div class="container-fluid">
        <!-- start page title -->
        <div class="row">
          <div class="col-12">
            <div class="page-title-box">
              <h4 class="page-title">Product Details</h4>
            </div>
          </div>
        </div>
        <!-- end page title -->

        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-5">
                    <!-- Product image -->
                    <a href="#" class="text-center d-block mb-4">
                      <img
                        src="../assets/images/products/{{product.image}}"
                        class="img-fluid"
                        style="max-width: 280px"
                        alt="Product-img"
                      />
                    </a>

                    <!-- <div class="d-lg-flex d-none justify-content-center">
                      <a href="#">
                        <img
                          src="../assets/images/products/product-1.jpg"
                          class="img-fluid img-thumbnail p-2"
                          style="max-width: 75px"
                          alt="Product-img"
                        />
                      </a>
                      <a href="#" class="ml-2">
                        <img
                          src="../assets/images/products/product-6.jpg"
                          class="img-fluid img-thumbnail p-2"
                          style="max-width: 75px"
                          alt="Product-img"
                        />
                      </a>
                      <a href="#" class="ml-2">
                        <img
                          src="../assets/images/products/product-3.jpg"
                          class="img-fluid img-thumbnail p-2"
                          style="max-width: 75px"
                          alt="Product-img"
                        />
                      </a>
                    </div> -->
                  </div>
                  <!-- end col -->
                  <div class="col-lg-7">
                    <form class="pl-lg-4">
                      <!-- Product title -->
                      <h3 class="mt-0">
                        {{product.name}}
                        <a href="" class="text-muted"
                          ><i class="mdi mdi-square-edit-outline ml-2"></i
                        ></a>
                      </h3>
                      <p class="mb-1">Ngày tạo: 09/12/2018</p>
                      <p class="font-16">
                        <span class="text-warning mdi mdi-star"></span>
                        <span class="text-warning mdi mdi-star"></span>
                        <span class="text-warning mdi mdi-star"></span>
                        <span class="text-warning mdi mdi-star"></span>
                        <span class="text-warning mdi mdi-star"></span>
                      </p>

                      <!-- Product stock -->
                      <div class="mt-3">
                        <h4>
                          <span class="badge badge-success-lighten">Hot</span>
                        </h4>
                      </div>

                      <!-- Product description -->
                      <div class="mt-4">
                        <h6 class="font-14">Giá:</h6>
                        <h3>{{(product.price | currency) + ' ' + "VNĐ"}}</h3>
                      </div>

                      <!-- Quantity -->
                      <div class="mt-4">
                        <h6 class="font-14">Số lượng</h6>
                        <div class="d-flex">
                          <input
                            type="number"
                            min="1"
                            class="form-control"
                            placeholder="Qty"
                            style="width: 90px"
                            ng-model="quantity"
                            ng-change="onQuantityChange();"
                          />
                          <a
                            type="button"
                            href="#products/add-to-cart/{{product.id}}"
                            class="btn btn-danger ml-2"
                          >
                            <i class="mdi mdi-cart mr-1"></i> Add to cart
                          </a>
                          <button type="button" class="btn btn-danger ml-2">
                            <i class="mdi mdi-square-edit-outline mr-1"></i> Buy
                          </button>
                        </div>
                      </div>

                      <!-- Product description -->
                      <div class="mt-4">
                        <h6 class="font-14">Mô tả sản phẩm:</h6>
                        <p>{{product.description}}</p>
                      </div>

                      <!-- Product information -->
                      <div class="mt-4">
                        <div class="row">
                          <div class="col-md-4">
                            <h6 class="font-14">Available Stock:</h6>
                            <p class="text-sm lh-150">
                              {{product.quantity + ' sản phẩm'}}
                            </p>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- end col -->
                </div>
                <!-- end row-->

                <!-- end table-responsive-->
              </div>
              <!-- end card-body-->
            </div>
            <!-- end card-->
          </div>
          <!-- end col-->
        </div>
        <!-- end row-->
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <div class="card-title"><h4>Sản phẩm liên quan</h4></div>
                <div class="owl-carousel owl-theme">
                  <div
                    ng-repeat="p in listProducts | filter: product.category.name"
                    class="item"
                    style="width: 200px"
                  >
                    <div class="box card">
                      <a href="#products/details/{{p.id}}">
                        <div class="img-box">
                          <img
                            src="../assets/images/products/{{p.image}}"
                            alt=""
                          />
                        </div>

                        <div class="detail-box">
                          <h6>{{p.name}}</h6>
                          <h6>
                            <span> {{(p.price ) + ' ' + "VNĐ"}}</span>
                          </h6>
                        </div>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- <div class="alert alert-success" id="success-alert">
      <button type="button" class="close" data-dismiss="alert">x</button>
      <strong>Success! </strong> Product have added to your wishlist.
    </div> -->
    <footer class="footer" ng-include="'layout/customer/footer.html'"></footer>
  </div>
</div>
