<div class="left-side-menu mm-show">
  <!-- LOGO -->
  <a href="javascript: void(0);" class="logo text-center logo-light">
    <span class="logo-lg">
      <img src="../../assets/images/FPT_Polytechnic.png" alt="" height="40" />
    </span>
    <span class="logo-sm">
      <img src="../../assets/images/logo_sm.png" alt="" height="16" />
    </span>
  </a>

  <!-- LOGO -->
  <a href="index.html" class="logo text-center logo-dark">
    <span class="logo-lg">
      <img src="../../assets/images/FPT_Polytechnic.png" alt="" height="40" />
    </span>
    <span class="logo-sm">
      <img src="../../assets/images/logo_sm_dark.png" alt="" height="16" />
    </span>
  </a>

  <div
    class="h-100 mm-active"
    id="left-side-menu-container"
    data-simplebar="init"
  >
    <div class="simplebar-wrapper" style="margin: 0px">
      <div class="simplebar-height-auto-observer-wrapper">
        <div class="simplebar-height-auto-observer"></div>
      </div>
      <div class="simplebar-mask">
        <div class="simplebar-offset" style="right: 0px; bottom: 0px">
          <div
            class="simplebar-content-wrapper"
            style="height: 100%; overflow: hidden scroll"
          >
            <div class="simplebar-content" style="padding: 0px">
              <!--- Sidemenu -->
              <ul class="metismenu side-nav mm-show">
                <li class="side-nav-item mm-active">
                  <a
                    href="#admin/home"
                    class="side-nav-link"
                    aria-expanded="true"
                  >
                    <i class="uil-home-alt"></i>
                    <span class="badge badge-success float-right">4</span>
                    <span> Dashboards </span>
                  </a>
                </li>
                <li class="side-nav-title side-nav-item">Apps</li>

                <li class="side-nav-item">
                  <a
                    href="#admin/categories"
                    class="side-nav-link"
                    aria-expanded="false"
                  >
                    <i class="uil-rss"></i>
                    <span>Categories </span>
                  </a>
                </li>
                <li class="side-nav-item">
                  <a
                    href="#admin/products"
                    class="side-nav-link"
                    aria-expanded="false"
                  >
                    <i class="uil-rss"></i>
                    <span>Products </span>
                  </a>
                </li>
              </ul>

              <!-- end Help Box -->
              <!-- End Sidebar -->

              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="simplebar-placeholder"
        style="width: auto; height: 559px"
      ></div>
    </div>
    <div
      class="simplebar-track simplebar-horizontal"
      style="visibility: hidden"
    >
      <div class="simplebar-scrollbar" style="width: 0px; display: none"></div>
    </div>
    <div class="simplebar-track simplebar-vertical" style="visibility: visible">
      <div
        class="simplebar-scrollbar"
        style="
          height: 161px;
          transform: translate3d(0px, 0px, 0px);
          display: block;
        "
      ></div>
    </div>
  </div>
  <!-- Sidebar -left -->
</div>
